{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% trans "Sign Out" %}</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>{% trans "Sign Out" %}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          
          <button type="submit" class="get-started-btn scrollto" >{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </section>

{% endblock %}
