{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{% trans "Sign Up" %}</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>{% trans "Sign Up" %}</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="get-started-btn scrollto" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </section>

{% endblock %}
