{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Contact Seller</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>New contact</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
  {% if messages%}
  <div class="container  portfolio-details fade show" id="msg">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
  {% endif%}
  <section class="inner-page">
    <div class="container">
      <div class="row justify-content-center">
        <strong>Please fill out the form, the Seller will contact you via phone number soon...</strong>
        <form method="post" style="margin-top: 1.3em;" >
            {{ customer_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        
      </div>
      
    </div>
  </section>

{% endblock %}
