{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Advertisement Details</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
  {% if messages %}
  <div class="container portfolio-details">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
  {% endif %}
  {% if not post.approved %}
  <div class="container portfolio-details">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <strong>This Advertisement will show in the advertisement list as soon as site admin approve it.</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class=" swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                {% if "placeholder" in post.featured_image.url %}
                    <img 
                        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                  {% else %}
                    <img  src=" {{ post.featured_image.url }}">
                  {% endif %}
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>{{post.title}}</h3>
            <ul>
              <li><strong>Category</strong>: <a href="#">{{ post.category }}</a></li>
              <li><strong>Cost</strong>: {{ post.cost }}</li>
              <li><strong>Condition</strong>: {{ post.condition }}</li>
              <li><strong>Color</strong>: {{ post.color }}</li>
              <li><strong>Dimensions</strong>: {{ post.dimensions }}</li>
              <li><strong>Address</strong>: {{ post.address }}</li>
              <li><strong>Seller</strong>: {{ post.seller }}</li>
              {% if user.is_authenticated and post.seller|stringformat:"s" == user.username %}
              <li><strong>Status</strong>:<a href="{% url 'post_status' post.slug %}">
                 {% if post.status %} Sold {% else %} Not Sold {% endif %}</a></li>
                 
              {% endif %}
            </ul>
            {% if user.is_authenticated and post.seller|stringformat:"s" == user.username %}
              <a href="{% url 'post_update' post.slug %}"><button class="get-started-btn scrollto">Edit</button></a>
              <a href="{% url 'post_delete' post.slug %}"><button class="get-started-btn scrollto">Delete</button></a>
              <hr>
              <a href="{% url 'view_customers' post.slug %}"><button class="get-started-btn scrollto">View Customer Condidates</button></a>
            
              {% endif%}
            {% if post.seller|stringformat:"s" != user.username %}
              <a href="{% url 'buy' post.slug %}"><button class="get-started-btn scrollto">Contact with seller</button></a>
            {% endif %}
          </div>
          <div class="portfolio-description">
            <h2>More description</h2>
            {% if post.description %}
              <p>
                {{ post.description|safe }}
              </p>
            {% else %}
              <p>
                No more description
              </p>
            {% endif %}
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

{% endblock content %}